*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(./images/casino-poker-background-green-colors-seamless-vector-5846892.jpg);
    text-align: center;
    margin-top: 5em;
}

h1{
    margin-bottom: 1em;
    color: rgb(224, 224, 35);
    font-size: 4em;
}

h2{
    font-size: 1.6em;
    color: #fff;
    margin-bottom: 1.3em;
}

p{
    color: #fff;
    font-size: 1.4em;
}

#start-button , #newCard-button{
    color: #016f32;
    text-align: center;
    width: 150px;
    background-color: goldenrod;
    font-size: 1.3em;
    font-weight: bold;
    padding: .2em;
}
